/* Profile Specific Styles */

/* Profile Container */
.profile-container {
  display: flex; /* Flexbox for two-column layout */
  flex-wrap: wrap;
  justify-content: space-between; /* Space between columns */
  margin-top: 20px; /* Space above the container */
  height: fit-content;
}

/* Profile Info Section */
.profile-info {
  width: 20%; /* Fixed width for profile section */
  border: 1px solid #ddd; /* Light gray border */
  border-radius: 8px; /* Rounded corners */
  padding: 15px; /* Padding for inner content */
  background-color: #f9f9f9; /* Light background color */
  margin-right: 20px; /* Add margin to the right for spacing */
  height: fit-content;
}

/* Orders Section */
.user-orders {
  width: 20%; /* Wider width for orders section */
  border: 1px solid #ddd; /* Light gray border */
  border-radius: 8px; /* Rounded corners */
  padding: 15px; /* Padding for inner content */
  height: fit-content;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .profile-container {
    flex-direction: column; /* Stacks sections on smaller screens */
  }

  .profile-info {
  }

  .user-orders {
    width: 100%; /* Full width on smaller screens */
    margin-left: auto; /* Removes left margin */
    margin-right: 0; /* Removes right margin */
  }
}
.posts-section {
  border: 1px solid #ddd; /* Optional border */
  border-radius: 8px; /* Optional rounded corners */
  padding: 15px; /* Padding for inner content */
  background-color: #f9f9f9; /* Optional background color */
  width: 60%;
  height: fit-content;
}
.fot {
  margin-top: auto;
}
